*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#00000;
color:white;
font-family:Inter, sans-serif;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
overflow:hidden;
background: radial-gradient(circle at center, #0f172a, #020617);
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
}

.launch-box{
backdrop-filter: blur(12px);
background: rgba(15,23,42,0.6);
border: 1px solid rgba(56,189,248,0.2);
border-radius: 12px;
padding: 40px;
}

.launch-box:hover {
  box-shadow:
    0 0 40px rgba(56,189,248,0.35),
    inset 0 0 25px rgba(56,189,248,0.08);
}

/* main container */

.container{
text-align:center;
max-width:700px;
padding:40px;
}


/* logo */

.logo{
font-family:Orbitron, sans-serif;
font-size:64px;
letter-spacing:4px;
margin-bottom:20px;
}

.logo span{
color:#00e0ff;
text-shadow:0 0 10px #00e0ff;
}

.cyber-button {
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #67e8f9;
  text-decoration: none;
  border: 2px solid #06b6d4;
  border-radius: 8px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  box-shadow:
    0 0 5px #06b6d4,
    0 0 15px #06b6d4,
    inset 0 0 5px #06b6d4;
}

.cyber-button:hover {
  color: white;
  background: #06b6d4;
  box-shadow:
    0 0 10px #22d3ee,
    0 0 40px #22d3ee,
    0 0 80px #22d3ee;
  transform: translateY(-2px);
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;

  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.03),
    rgba(255,255,255,0.03) 1px,
    transparent 1px,
    transparent 4px
  );

  animation: scanlineMove 8s linear infinite;
}

@keyframes scanlineMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100px;
  }
}

/* coming soon */

.coming{
font-size:34px;
margin-bottom:20px;
font-weight:400;
}

/* subtitle */

.subtitle{
font-size:18px;
color:#9aa3b2;
line-height:1.6;
margin-bottom:30px;
}
.footer-box {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 18px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  border: 1px solid rgba(0, 200, 255, 0.3);
  border-radius: 10px;

  color: #ffffff;
  font-size: 14px;

  box-shadow: 0 0 10px rgba(0, 200, 255, 0.2);
}

footer{
bottom:20px;
font-size:13px;
color:white;
}